[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
marshmallow = "*"
flask-marshmallow = "*"
email-validator = "*"
requests = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
